<%= render "devise/shared/top" %>
<h2><%= t('.resend_confirmation_instructions') %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %><br />
    <div class='control'>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'input is-primary' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.resend_confirmation_instructions'), class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
