<p><%= link_to t('back'), '/' %></p>

<p class='title'><%= t('.dig_title') %></p>

<%= render 'shared/formtop' %>
<%= form_with url: "/tools/dig", method: :post do |form| %>
  <%= form.label :fqdn, t('.dig_dn') %>
  <%= form.text_field :fqdn, autofocus: true, placeholder: t('.dig_domain'), class: 'input is-primary has-text-centered' %>
  <%= form.submit t('.dig_button'), class: 'button is-primary' %>
<% end %>
<%= render 'shared/formbottom' %>
