<%= render "devise/shared/top" %>
<h2 class='subtitle'><%= t('.resend_unlock_instructions') %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'label' %><br />
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-primary' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.resend_unlock_instructions'), class: 'button is-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render "devise/shared/bottom" %>
