<footer class='footer has-background-oxfordblue has-text-tearose'>
  <div class='container has-text-centered'>
    <div class='columns'>
      <div id='about' class='column'>
        <p><%= t("shared_words.footer.about1").html_safe %></p>
      </div>
      <div class='column'>
        <%= link_to fa_icon('fa-twitter fa-2x','',''), "https://twitter.com/secboard", target: '_blank' %>
        <%= link_to fa_icon('fa-linkedin fa-2x','',''), "https://linkedin.com/secboard", target: '_blank' %>
        <%= link_to fa_icon('fa-gitlab fa-2x','',''), "https://gitlab.com/adminrezo/secboard", target: '_blank' %>
      </div>
      <div class='column'>
        <p><%= t("shared_words.footer.about2").html_safe %></p>
      </div>
    </div>
  </div>
</footer>
