<section class="hero-main hero has-background-pictonblue">
  <div class="hero-body">
    <div class='container is-fullhd has-text-centered'>
      <h1 class='thetitle'><%= t("shared_words.title") %></h2></h1>
      <h2 class='thesubtitle'><%= t("shared_words.subtitle") %></h2>
    </div>
  </div>
</section>
