<nav class="navbar is-fixed-top has-background-pictonblue" role="navigation" aria-label="main navigation">
  <div class='container'>

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag "logo.webp" %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nase">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nase" class="navbar-menu">

      <div class="navbar-start">
        <a href='/' class='navbar-item is-hoverable'>
          <span class='has-text-primary is-capitalized'>
            <i class="fa fa-home" aria-hidden="true"></i>
            <%= t('.home') %>
          </span>
        </a>
        <a href='/domains' class='navbar-item'>
          <span class='has-text-primary is-capitalized'>
            <i class="fa fa-globe" aria-hidden="true"></i>
            <%= t('.domains') %>
          </span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href='#'>
            <span class='has-text-primary is-capitalized'>
              <i class="fa fa-cubes" aria-hidden="true"></i>
              <%= t('.tools') %>
            </span>
          </a>
          <div class="navbar-dropdown">
            <a class='navbar-item' href='/tools/pass'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-key-modern" aria-hidden="true"></i>
                <%= t('.pass') %>
              </span>
            </a>
            <a class='navbar-item' href='/tools/csr'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <%= t('.csr') %>
              </span>
            </a>
            <a class='navbar-item' href='/tools/base64'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-arrows-h" aria-hidden="true"></i>
                <%= t('.b64') %>
              </span>
            </a>
            <a class='navbar-item' href='/tools/dig'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-info" aria-hidden="true"></i>
                <%= t('.dig') %>
              </span>
            </a>
            <a class='navbar-item' href='/tools/dnspropagation'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                <%= t('.dns') %>
              </span>
            </a>
            <hr class="navbar-divider">
            <a class='navbar-item' target='_blank' href='https://www.ssllabs.com/ssltest/'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-external-link" aria-hidden="true"></i>
                Qualys SSL Labs
              </span>
            </a>
            <a class='navbar-item' target='_blank' href='https://cryptcheck.fr/'>
              <span class='has-text-primary is-capitalized'>
                <i class="fa fa-external-link" aria-hidden="true"></i>
                Cryptcheck
              </span>
            </a>
          </div>
        </div>
        <a href='#about' class='navbar-item'>
          <span class='has-text-primary is-capitalized'>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <%= t('.about') %>
          </span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class='buttons has-addons'>
          <% if user_signed_in? %>
            <%= link_to fa_icon('fa-user','',''), "/users/edit", class: 'button is-primary is-outlined' %>
            <%= link_to fa_icon('fa-sign-out','',''), "/users/sign_out", method: 'delete', class: 'button is-danger is-outlined' %>
          <% else %>
            <%= link_to fa_icon('fa-user-plus','','signup'), "/users/sign_up", class: 'button is-primary' %>
            <%= link_to fa_icon('fa-sign-in','','login'), "/users/sign_in", class: 'button is-primary is-outlined' %>
          <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</nav>
