<p> <%= back_to '/' %> </p>

<%= render 'shared/alerts' %>

<p class='title'><%= t('.csr_title') %></p>

<%= form_with url: '/tools/csr', method: :post do |form| %>
  <%= form.text_area :csr, autofocus: true, size: '50x10', class: 'textarea is-primary has-text-centered',
    placeholder: "-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----" %><br/>
  <%= form.submit t('.csr_view'), class: 'button is-primary' %>
<% end %>
