<p> <%= back_to '/tools/csr' %> </p>

<p class='title'><%= t('.csr_show') %></p>

<div class="table-container">
  <table id='csr' class='table is-striped is-hoverable is-fullwidth'>
    <% @csrhash.each do |h| %>
      <tr>
        <td class='csrkey'><%= h[0] %></td>
        <td class='csrval'><%= h[1] %></td>
      </tr>
    <% end %>
  </table>
</div>
