<%= form_with(model: domain) do |form| %>
  <% if domain.errors.any? %>
    <div id="error_explanation" class='notification is-warning'>
      <p><%= pluralize(domain.errors.count, "error") %> prohibited this domain from being saved:</p>

      <ul>
        <% domain.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :scanresult %>
    <%= form.text_area :scanresult %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
