<%= show_title(t('.title'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('.severity') %></th>
  <th><%= t('.name') %></th>
  <th><%= t('.value') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.headers.empty? %>
    <tr><%= show_empty(3)&.html_safe %></tr>
  <% else %>
    <% @domain.headers.each do |h| %>
      <tr>
        <td><%= show_note_tags(h.note) %></td>
        <td><%= h.name %></td>
        <td class='max-width-300'><%= h.value %></td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
