<%= show_title(t('.title'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('.severity') %></th>
  <th><%= t('.library') %></th>
  <th><%= t('.version') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.jslibs.empty? %>
    <tr><%= show_empty(3)&.html_safe %></tr>
  <% else %>
  <%   @domain.jslibs.each do |j| %>
      <tr>
        <td><%= show_note_tags(j.note) %></td>
        <td><%= j.library %></td>
        <td><%= j.version %></td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
