<%= show_title(t('.title'), @domain.name) %>

<%= render 'shared/scans/top' %>
  <th><%= t('.number') %></th>
  <th><%= t('.software') %></th>
  <th><%= t('.severity') %></th>
<%= render 'shared/scans/middle' %>
  <% if @domain.ports.empty? %>
    <tr>
      <%= show_empty(3)&.html_safe %>
    </tr>
  <% else %>
  <%   @domain.ports.each do |p| %>
      <tr>
        <td><%= p.number %>/<%= p.protocol %></td>
        <td><%= p.software %> <%= p.version %></td>
        <td><%= show_note_tags(p.note) %></td>
      </tr>
    <% end %>
  <% end %>
<%= render 'shared/scans/bottom' %>
