
/* COLORS */

// https://coolors.co/00b3fe-012453-ffffff-ddd92a-e01a4f

$pictonblue: #00B3FE;
$pictonblue-invert: findcolorinvert($pictonblue);
$oxfordblue: #00B3FE;
$oxfordblue-invert: findcolorinvert($oxfordblue);
$tearose: #EBBAB9;
$tearose-invert: findcolorinvert($tearose);
$celadon: #ACE4AA;
$celadon-invert: findcolorinvert($celadon);
$citrine: #DDD92A;
$citrine-invert: findcolorinvert($citrine);
$amaranth: #E01A4F;
$amaranth-invert: findcolorinvert($amaranth);
$custom-colors: ("pictonblue": ($pictonblue, $pictonblue-invert), "oxfordblue": ($oxfordblue, $oxfordblue-invert), "tearose": ($tearose, $tearose-invert), "celadon": ($celadon, $celadon-invert), "citrine": ($citrine, $citrine-invert), "amaranth": ($amaranth, $amaranth-invert));

$primary: $pictonblue;
$info: $oxfordblue;
$link: $tearose;
$success: $celadon;
$warning: $citrine;
$danger: $amaranth;


/* CLASSES */

.btns { text-align: center; }
.footer { margin-top: auto; height: 250px; }
.footer a { color: $pictonblue; }
.footer .icon { width: 2.5rem; }
.secboard { 
  background: url('/images/background.webp') no-repeat fixed center top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.master { background-color: white; }
.max-width-300 {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pwgen { font-size: 16pt; background: $tearose; padding: 5px; width: 250px; margin: auto auto; }
.splashscreen {
  background: url('/images/background.webp') no-repeat fixed center top;
  background-size: cover;
  height: 500px;
}
.spaced { padding-top: 10px; padding-bottom: 10px; }
.start { margin-top: 100px; }
.table { margin-left: auto; margin-right: auto; }
.thetitle { font-size: 40px; font-weight: 800; color: $primary; }
.thesubtitle { font-size: 28px; font-weight: 800;  color: $primary; }
.title { color: $primary; }
.word-break { word-break: break-all; }

/* IDS */

#csr { text-align: left; margin: auto; width: 400px; }

/* TAGS */

pre { background-color: $tearose !important; color: $primary !important; }


/* IMPORTS */

@import 'bulma'
