<div class='block'>
  <p><%= t("update") %> : <%= @domain.created_at %></p>
</div>

<p class='block'>
  <%= back_to "/domains/#{@domain.id}" %>
</p>

<p class='block'>
  <div class='button'>
    <%= link_to fa_icon('fa-recycle','','reload'), "#" %>
  </div>
</p>

<!--
<div class='block table-container'>
  <table class='table is-striped is-narrow is-hoverable is-fullwidth'>
    <thead>
      <tr>
-->
<section class="section">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <table class="table">
        <thead>
          <tr>
