<p><%= back_to ('/tools/dnspropagation') %></p>

<p class='title'><%= t('.dns_title') %></p>

<div class="table-container">
  <table id='csr' class='table is-striped is-hoverable is-fullwidth'>
    <thead>
      <tr>
        <th><%= t('.dns_server') %></th>
        <th><%= t('.dns_response') %></th>
      </tr>
    </thead>
    <% @hash.each do |h| %>
      <tr>
        <td class='csrkey'><%= h[0] %></td>
        <td class='csrval'><%= h[1] %></td>
      </tr>
    <% end %>
  </table>
</div>
