<!doctype html>
<html>
  <%= render "shared/head" %>
  <body class='index has-navbar-fixed-top has-background-pictonblue'>
    <%= render "shared/menu" %>
    <div class='container is-fullhd has-text-centered k2'>
      <div class='columns'>
        <div class='column is-one-quarter'></div>
        <div class='column is-half master has-background-white'>
          <%= render "shared/alerts" %>
          <%= yield %>
        </div>
        <div class='column is-one-quarter'></div>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
